.edit-btn, .delete-btn {
  width: 35px;
  height: 35px;
  display: table-column;

  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 50%;
  transition: transform 0.2s;
}

.edit-btn:hover {
  background-color: #0d6efd; /* darker blue */
  transform: scale(1.1);
  color: #fff;
}

.delete-btn:hover {
  background-color: #dc3545; /* darker red */
  transform: scale(1.1);
  color: #fff;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.logout-btn {
  padding: 8px 18px;
  font-weight: 500;
  border-radius: 8px;
  transition: 0.3s;
}

.logout-btn:hover {
  transform: scale(1.05);
}